.uno{
	background-color: red;
	width: 100px;
	height: 100px;
	margin:10px;
}
.dos{
	background-color: green;
	width: 100px;
	height: 100px;
	margin:10px;
}
.tres{
	background-color: pink;
	width: 100px;
	height: 100px;
	margin:10px;
}
.cuatro{
	background-color: orange;
	width: 100px;
	height: 100px;
	margin:10px;
}